.btn {
  @apply inline-block border border-transparent px-5 py-2 font-semibold capitalize transition;
}

.btn-sm {
  @apply px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-primary bg-primary text-white;
}

.btn-dark {
  @apply border-dark bg-dark text-white;
}

.btn-underline {
  @apply border-none bg-transparent text-dark underline underline-offset-4;
}

.btn-outline {
  @apply border-dark text-text-dark hover:bg-dark  bg-transparent hover:text-white rounded-full duration-200;
}
