/* navbar toggler */
input#nav-toggle:checked + label #show-button {
  @apply hidden;
}

input#nav-toggle:checked + label #hide-button {
  @apply block;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply max-lg:block;
}

/* swiper pagination */
.swiper-pagination-bullet {
  @apply size-2! bg-light! opacity-100!;
}

.swiper-pagination-bullet-active {
  @apply bg-primary!;
}

.feature-pagination-item.active {
  background-color: var(--color-body);
}
