---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import CallToAction from "@/partials/CallToAction.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const features = await getSinglePage("features");

  const paths = features.map((feature) => ({
    params: {
      single: feature.id,
    },
    props: { feature },
  }));
  return paths;
}

const { feature } = Astro.props;
const { title, description, image } = feature.data;

const { Content } = await render(feature);
---

<Base {...feature.data}>
  <PageHeader title={title} description={description} />

  <section class="section-sm bg-light">
    <div
      class="container flex flex-col lg:flex-row justify-center gap-5 items-start"
    >
      <article
       
       
        class="w-full lg:w-7/12 bg-body rounded-2xl px-6 sm:px-8 xl:px-10 py-4"
      >
        {
          image && (
            <div>
              <ImageMod
                src={image}
                alt={title}
                width={800}
                height={450}
                class="w-full h-auto rounded-lg mb-6"
              />
            </div>
          )
        }
        <div class="content">
          <Content />
        </div>
      </article>
    </div>
  </section>

  <CallToAction />
</Base>
