---
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <section
    class="section bg-light pt-30 lg:pt-43 bg-4col-grid overflow-x-hidden border-b border-border"
  >
    <div
     
     
      class="container sm:w-[90%] md:w-[70%] lg:w-[50%] mx-auto"
    >
      <div class="text-center">
        <span
         
         
          class="text-[9rem] block font-bold text-text-dark"
        >
          404
        </span>
        <h1 class="h2 mb-4">
          Ops! Page not found
        </h1>
        <div class="content">
          <p class="text-balance">
            It looks like the page you’re looking for doesn’t exist or might
            have been moved. Don’t worry, let’s get you back on track!
          </p>
        </div>
        <a
         
         
          href="/"
          class="btn btn-dark rounded-full mt-8">Go to Homepage</a
        >
      </div>
    </div>
  </section>
</Base>
