---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import CallToAction from "@/partials/CallToAction.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { render } from "astro:content";

// get static paths for all pages
export async function getStaticPaths() {
  const COLLECTION_FOLDER = "pages";

  const pages = await getSinglePage(COLLECTION_FOLDER);

  const paths = pages.map((page) => ({
    params: {
      regular: page.id,
    },
    props: { page },
  }));
  return paths;
}

const { page } = Astro.props;
const { title, description } = page.data;
const { Content } = await render(page);
---

<Base {...page.data}>
  <PageHeader title={title} description={description} />

  <section class="section-sm bg-light">
    <div class="container">
      <article
        data-aos="fade-up-sm"
        data-aos-delay="250"
        class="w-full lg:w-7/12 bg-body rounded-2xl p-6 lg:p-8 mx-auto"
      >
        <div class="content">
          <Content />
        </div>
      </article>
    </div>
  </section>

  <CallToAction />
</Base>
